<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4 text-center">Pacientes Atendidos</h1>
  <table class="min-w-full bg-white shadow-lg rounded-lg">
    <thead>
    <tr style="background-color: #343a40; color: white;">
      <th class="py-3 px-4 font-semibold text-left">ID</th>
      <th class="py-3 px-4 font-semibold text-left">Nombre</th>
      <th class="py-3 px-4 font-semibold text-left">Apellido</th>
      <th class="py-3 px-4 font-semibold text-left">Carnet</th>
      <th class="py-3 px-4 font-semibold text-left">Fecha de Nacimiento</th>
      <th class="py-3 px-4 font-semibold text-left">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let paciente of filteredPacientes" class="border-b">
      <td class="py-2 px-4">{{ paciente.id }}</td>
      <td class="py-2 px-4">{{ paciente.usuario.nombre }}</td>
      <td class="py-2 px-4">{{ paciente.usuario.apellido }}</td>
      <td class="py-2 px-4">{{ paciente.carnet }}</td>
      <td class="py-2 px-4">{{ paciente.fechaNacimiento }}</td>
      <td class="py-2 px-4">{{ paciente.usuario.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
